# Data Types And Structure

 # Theory question

 1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so that it can be used efficiently.

       Importance of data structures in Python:

     Efficiency:
Data structures allow for efficient storage and retrieval of data, which is crucial for optimizing code performance.

     Organization:
They provide a way to organize data in a logical manner, making it easier to understand and work with.

     Reusability:
Data structures can be reused across different parts of a program, reducing code duplication and improving maintainability.

     Problem-solving:
Choosing the right data structure for a specific problem can greatly impact the performance and clarity of the solution.

 2.   Explain the difference between mutable and immutable data types with examples
 - Mutable data types are those that can be modified after they are created, while immutable data types cannot. When a mutable object is modified, the changes occur in place, meaning the original object is altered. In contrast, when an immutable object is "modified," a new object is created with the changes, leaving the original object untouched.


 Lists are mutable

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

 Dictionaries are mutable

my_dict = {'a': 1, 'b': 2}
my_dict['c'] = 3
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

Sets are mutable

my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}




Examples of immutable data types in Python include strings, tuples, and numbers (integers, floats, etc.).


 Strings are immutable

my_string = "hello"
my_string[0] = 'H' # This will raise an error
my_string = "H" + my_string[1:] # This creates a new string
print(my_string) # Output: Hello

 Tuples are immutable

my_tuple = (1, 2, 3)
 my_tuple[0] = 4  # This will raise an error
 To modify a tuple you would create a new tuple
my_tuple = (4,) + my_tuple[1:]

print(my_tuple) # Output: (4, 2, 3)


 Numbers are immutable

my_number = 5
 my_number += 1 # This creates a new object

 print(my_number)

 3. What are the main differences between lists and tuples in Python?

  - Lists and tuples are both fundamental sequence types in Python, but they exhibit key differences in terms of mutability, syntax, and use cases.

  List example (mutable)

my_list = [1, 2, 3]

my_list.append(4)

my_list[0] = 10

print(my_list)  # Output: [10, 2, 3, 4]

     Tuple example (immutable)

my_tuple = (1, 2, 3)

 my_tuple.append(4) # This would raise an error

     my_tuple[0] = 10 # This would also raise an error

     print(my_tuple)  # Output: (1, 2, 3)

4. Describe how dictionaries store data.
  - Python dictionaries store data as key-value pairs. Each key within a dictionary must be unique and immutable, such as strings, numbers, or tuples, while the values can be of any data type and can be duplicated. The key serves as an identifier to access its associated value.

  5 . Why might you use a set instead of a list in Python?
  - Sets and lists serve different purposes in Python, making one more suitable than the other depending on the situation. Here's why a set might be preferred over a list:

  sets are advantageous when uniqueness, fast membership testing, set operations, and order-insensitivity are desired, while lists are more appropriate when preserving order and allowing duplicates are important.

 6 . What is a string in Python, and how is it different from a list?

  - A string is a sequence of characters between single or double quotes.
  A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

 7 . How do tuples ensure data integrity in Python?
  - uples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic prevents accidental or unintended changes to the data, guaranteeing that the information remains consistent throughout the program's execution.

   my_tuple = (1, 2, 3, "apple")
   
 Attempting to modify the tuple will result in an error
 my_tuple[0] = 4  # This will raise a TypeError

 8 . What is a hash table, and how does it relate to dictionaries in Python?

 - A hash table is a data structure that stores key-value pairs. It uses a hash function to compute an index for each key, which determines the position of the value in an array. This allows for efficient storage and retrieval of data.

 in Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine where to store the value. This allows for fast lookups, insertions, and deletions, making dictionaries a powerful and versatile data structure.

 9 . Can lists contain different data types in Python?
  - Yes, lists in Python can contain elements of different data types. This is a key feature of Python lists, making them highly flexible and versatile. A single list can hold integers, strings, floats, booleans, and even other lists or data structures.

 10 . Explain why strings are immutable in Python.
  - Strings are immutable in Python for reasons related to efficiency, safety, and design principles. Immutability ensures that once a string is created, its value remains constant throughout its lifetime. This characteristic offers several advantages:
  
Memory optimization:

When multiple variables reference the same string literal, Python only needs to store one copy of that string in memory. If strings were mutable, modifying one instance would require creating new copies, leading to increased memory consumption.
Thread safety:

Immutable strings are inherently thread-safe, as there's no risk of data corruption or race conditions when multiple threads access the same string. This simplifies concurrent programming and eliminates the need for locks or synchronization mechanisms.

Dictionary keys:

Immutable objects, including strings, can be used as keys in dictionaries. If strings were mutable, their hash values could change, rendering them unusable as dictionary keys.

Security:

Immutability prevents accidental or malicious modification of string data, which is crucial in security-sensitive contexts. For instance, if a password or API key is stored as a string, immutability ensures that it cannot be altered after creation.

Simplified debugging:

Immutability makes it easier to reason about program behavior, as the value of a string variable is guaranteed to remain constant unless it's explicitly reassigned. This simplifies debugging and reduces the likelihood of unexpected errors.

 11 . What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries and lists are fundamental data structures in Python, each suited for different purposes. Dictionaries offer advantages over lists in scenarios requiring efficient data retrieval and key-based access.
Dictionaries store data in key-value pairs, allowing for direct access to values using their associated keys. This contrasts with lists, where elements are accessed by their numerical index. When searching for a specific element, dictionaries provide significantly faster lookup times compared to lists, especially for large datasets. This is because dictionaries use a hash table implementation, enabling near-constant time complexity for search operations, whereas lists require linear time complexity as they might necessitate traversing the entire list.
Furthermore, dictionaries are ideal for representing structured data with named fields, such as records or configurations. The keys serve as descriptive labels for the values, enhancing code readability and maintainability. For instance, storing information about a person (name, age, address) is more intuitive and efficient using a dictionary than a list.
However, lists are advantageous when maintaining the order of elements is crucial or when dealing with sequential data. They also support duplicate values, unlike dictionaries, where keys must be unique.
In summary, dictionaries excel in tasks involving fast lookups, key-based access, and structured data representation, while lists are preferable for ordered collections and sequential data processing. The choice between them depends on the specific requirements of the task at hand.

 12 . Describe a scenario where using a tuple would be preferable over a list?
  - Tuples are preferable when data integrity is paramount. Consider representing RGB color values. Because these values should never change after being defined, a tuple is the ideal choice.
   
   red = (255, 0, 0)

 print(red[0]) # Output: 255


   try:

           red[0] = 0 # Attempting to modify a tuple element

           except TypeError as e:

  print(f"Error: {e}") # Output: 'tuple' object does not support item assignment

 13 . How do sets handle duplicate values in Python?
  - Sets in Python are designed to store only unique elements. When an attempt is made to add a duplicate value to a set, Python automatically ignores it, ensuring that the set contains only distinct elements. This behavior is inherent to the nature of sets, which are unordered collections of unique items.

  my_set = {1, 2, 2, 3, 4, 4, 5}

  print(my_set)

 Expected output: {1, 2, 3, 4, 5}

  my_set.add(3)

  print(my_set)

 Expected output: {1, 2, 3, 4, 5}

 my_set.add(6)

 print(my_set)

 Expected output: {1, 2, 3, 4, 5, 6}

 14 . How does the “in” keyword work differently for lists and dictionaries?
  - The "in" keyword in Python operates differently for lists and dictionaries due to their distinct underlying structures. For lists, it performs a sequential search, checking each element until a match is found or the list is exhausted. This results in a time complexity of O(n), where n is the number of elements in the list. In contrast, for dictionaries, "in" checks for the existence of a key using a hash table lookup, offering an average time complexity of O(1). This means that checking for a key in a dictionary is significantly faster, especially for large collections, compared to searching for an element in a list.

 15 . Can you modify the elements of a tuple? Explain why or why not?
  - No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation. This is a key difference between tuples and lists, which are mutable.

 16 .  What is a nested dictionary, and give an example of its use case?
  -  nested dictionary is a dictionary where the value of one or more keys is another dictionary. It's essentially a dictionary within a dictionary, allowing for more complex data structures and organization.

 17 . Describe the time complexity of accessing elements in a dictionary?

  - he time complexity of accessing elements in a Python dictionary is, on average, O(1), which is considered constant time. This means that regardless of the size of the dictionary, accessing an element by its key takes roughly the same amount of time. This efficient access is due to the underlying implementation of dictionaries using hash tables.

 18 . In what situations are lists preferred over dictionaries?
  - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

 19 . Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order.

 20 . Explain the difference between a list and a dictionary in terms of data retrieval.
  - In terms of data retrieval, a dictionary offers significantly faster lookup of values based on unique keys compared to a list, which relies on numerical indices. Dictionaries, using a hash table, can find values associated with a key in an average of O(1) (constant) time, while lists, requiring sequential searching, have an average time complexity of O(n) (linear).

 # Practical Questions

 1 . Write a code to create a string with your name and print it.

In [ ]:
 a = "kritika"
 print (a)

kritika

2 . Write a code to find the length of the string "Hello World"?

In [ ]:
 s = "Hello World"
 len(s)

11

 3 . Write a code to slice the first 3 characters from the string "Python Programming

In [ ]:
 str = "Python Programming"
 str[3:]

'hon Programming'

 4 . Write a code to convert the string "hello" to uppercase.

In [ ]:
a="hello"
a.upper()

'HELLO'

 5 . Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text="i like apple"
text.replace("apple","orange")

'i like orange'

 6 .  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

 7 . Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

 8 . Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

 9 . Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
text=['a','b','c','d']
text[1]

'b'

 10 . Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
code=[10,20,30,40,50]
code.reverse()
print(code)

[50, 40, 30, 20, 10]

 11 .  Write a code to create a tuple with the elements 100, 200, 300 and print it.

 12 . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
code=('red','green','blue','yellow')
code[1:]

('green', 'blue', 'yellow')

 13 . Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple=(10,20,5,15)
min_number=min(my_tuple)
print(min_number)

5

 14 .  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
code=('dog','cat','rabbit')
index=code.index('cat')
print(index)

1

 15 . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:

fruits= ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "kiwi"in fruits:
  print("kiwi")
else:
  print('not in fruits list')

kiwi

 16 . Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a','b','c','a','b'}
print(s)

{'c', 'b', 'a'}

 17 . Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

 18 . Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

 19 . Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
A={1,2,3,}
B={4,5,6}
print(A.union(B))

{1, 2, 3, 4, 5, 6}

 20 . Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

 21 .  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = (set1, set2)
print(intersection_set)

({1, 2, 3}, {2, 3, 4})

 22 .  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:

my_dic = {'name':'john','age':25}
my_dic1={'country':'USA'}
my_dic.update(my_dic1)
print(my_dic)

{'name': 'john', 'age': 25, 'country': 'USA'}

 23 . Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
my_dic={'name':'Alice','age':30}
name_value=my_dic['name']
print(name_value)

Alice

 24 . Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
my_dic={'name':'Bob','age':22,'city':'New York'}
del my_dic['age']
print(my_dic)

{'name': 'Bob', 'city': 'New York'}

 25 . Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dic={'name':'Alice','city':'Paris'}
my_dic={'name':'Alice','city':'Paris'}
if'city'in my_dic:
  print('city exists')
else :
    print('city not exists')

city exists

 26 .  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, "hello", 3.14, True]
my_tuple = (1, "hello", 3.14, True)
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

 27 .   Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = []
for _ in range(5):
    random_numbers.append(random.randint(1, 100))

random_numbers.sort()

print(random_numbers)

[15, 22, 46, 81, 83]

 28 .  Write a code to create a list with strings and print the element at the third index.

In [ ]:
list=[1,2,3,4]
list.append('abhi')
print(list)

[1, 2, 3, 4, 'abhi']

 29 . Write a code to combine two dictionaries into one and print the result.

In [ ]:
students_age={'arun',23,'abhi',26,'vijay',28}
students = ['arun', 'abhi', 'vijay']
age = [23, 26, 28]
for students_age in zip (students,age):
    print(students_age)

('arun', 23)
('abhi', 26)
('vijay', 28)

 30 . Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple", "banana", "apple", "orange"]
string_set = set(string_list)
print(string_set)

{'apple', 'orange', 'banana'}